h1 {
  font-size: 50px;
  color: green;
  text-align: center;
}


h2 {
  font-weight: bold;
  font-size: 40px;
  text-align: center;
}

#fender {
  font-style: italic;
  margin-top: 10px;
  margin-bottom: 15px;
  border: 10px gray solid;
}
#gibson {
  color: red;
  margin-top: 10px;
  margin-bottom: 15px;
  border: 10px purple solid;
}
#hohner {
 color: blue;
 margin-top: 10px;
 margin-bottom: 15px;
 border: 10px green solid;
 padding: 20px;
}

.pink {
  color: pink;
}

.italic {
  font-style: italic;
}

.guitar p {
  padding: 10px;
  margin: auto;
}

.bold {
  font-weight: bold;
}

img {
  display: block;
  margin: auto;
}
