h1 {
  font-size: 50px;
  color: green;
  text-align: center;
}


h2 {
  font-weight: bold;
  font-size: 40px;

}

.fender {
  font-style: italic;
}
.gibson {
  color: red;
}
.hohner {
 color: blue;
}

.pink {
  color: pink;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: bold;
}
